# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

# Excel temp files
~$*.xlsx

# Streamlit cache
.streamlit/

# Logs
*.log